body {
    background-color: #00B4B5;
    color: #ffffff;
    transition: background-color 0.8s;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397') 50% 50% no-repeat rgb(249, 249, 249);
}


.switch {
    width: 50px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100px;
    position: relative;
    display: block;
    cursor: pointer;
}

.checked .switch {
    border-color: #ff0;
}

.switch__input {
    position: absolute;
    top: -999em;
}

.switch__content:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: transparent;
    box-shadow: -6px 0 0 #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 8px;
    display: block;
    transform: translateY(-50%);
    transition: all 0.3s;
}

input:checked+.switch__content:before {
    background-color: #ff0;
    box-shadow: none;
    left: 32px;
}

.tidetimes-disclaimer,
.tidetimes-title,
.tidetimes-forecast-date,
.tidetimes-link {
    display: none !important;
}

.tidetimes-times dl {
    display: flex;
    margin-bottom: 0;
}

.tidetimes-times dl dt {
    margin-right: 6px;
}

.booked-wzs-160-275 {
    width: unset !important;
    max-width: unset !important;
}

.main-section {
    height: 100vh;
}

.heading {
    font-weight: 600;
    width: 80px;
}

.border-width {
    width: 180px;
}

.heading::after {
    content: '';
    display: block;
    margin-top: 5px;
    border-bottom: 1px solid #ffffff;
    width: 100%;
}

.login-box {
    background-color: #ffffff;
    width: 400px;
    border-radius: 20px;
    padding: 30px 50px;
    margin: 0 auto;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.7);
}

.date-time {
    width: fit-content;
    margin-left: 30px;
}

.welcome-txt {
    /* background: radial-gradient(circle farthest-side at center center, #00B4B5 42%, #006174 61%); */
    background: linear-gradient(to right, #006174 0%, #00B4B5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    text-align: center;
}

label {
    color: #494949;
}

input {
    border: none;
    border-bottom: 2px solid #494949;
}

button {
    border: none;
    background: #006174;
    border-radius: 20px;
    outline: none;
    width: 100%;
    padding: 8px;
    font-weight: 600;
    color: #ffffff;
}

button:focus {
    outline: none;
}

input:focus {
    background: transparent;
    outline: none;
}


/* waves */


.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}